*{
    margin:0;
    padding:0;
}
nav,{
    display:block;
}
#page{
    width:100%;
    position:relative;
}
nav{
    position:fixed;
    height:100%;
    width:30%;
    margin:0 0;
    background:#474747 url(../img/lightgraybg.png);
    float:left;
    text-align:center;

}
#logo{
    position:absolute;
    top:15%;
    margin:0 0 0 -25%;
    width:50%;
    height:25%;
    left:50%;
    color:#999;
    text-shadow:0px 3px 8px #2a2a2a;
    font:180% Tahoma, Helvetica, Arial, Sans-Serif;
}
li:hover{
    color:#a0a0a0;
    text-shadow:0px 5px 8px #2a2a2a;
}
#logo img{
    position:relative;
    width:50%;
}
#navlinks{
   position:absolute;
    top:50%;
    margin:0 0 0 -25%;
    width:45%;
    height:30%;
    left:50%;
    padding:10px;
    color:#222;
    text-shadow:0px 2px 3px #555;
     font:2em Tahoma, Helvetica, Arial, Sans-Serif;
    line-height:1.4em;
}
#navlinks a{
    color:#000;
}
a:link{
    text-decoration:none;
}
ul{
    list-style-type: none;
}
