<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style/styles.css" rel="stylesheet" text="text/css">
</head>

<body>
    <nav>
      <div id="logo">
          <h1>403Penguin</h1>
         <img src="../img/penguin.jpg">
      </div>
      <div id="navlinks">
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Projects</a></li>
          </ul>
      </div>
      <div id="icons">
          <img>
      </div>
    </nav>
    {{ content }}
</body>

</html>
